@import "../../../../styles/mixins.scss";

.container {
  padding: 2.5rem;

  .title {
    @include section-title;
  }

  .subtitle {
    @include section-subtitle;
  }

  .tags-container {
    margin-bottom: 1rem;

    .tag {
      padding: 0.5rem 0.825rem;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem;
      font-size: 0.8rem;
      background: rgba(153, 153, 153, 0.2);
      border-radius: 5px;
      font-weight: 600;
      color: #666;
    }
  }
}
