$primary-text-main: #161f38;
$primary-text-light: #575861;
$primary-main-dark: #7b4f8f;
$primary-main-light: #f9f0fe;
$primary-container-bg: $primary-main-light;
$secondary-container-bg: #fff;
$footer-container-bg: #252525;
